<h1>Hola <%= user.username %></h1>

<h2>List of matches</h2>

<ul>
  <% matches.forEach( match => { %>
    <a href="/dashboard/view/<%= match._id %>"><li>
        <%= match.date%>
        <a href="/dashboard/view/<%= match._id %>/new-player">añadirme al partido</a>
        <br>
        <%= match.sport %>
        <br>
            <p>jugadores:  <ol> <% match.players.forEach(p=>{ %>
                                    
                                <li><%= p.username %></li>
          <% }) %></ol></p>
    </a>

    <br>
    <a href="/dashboard/view/delete/<%= match._id%>">Delete item</a>
    </li>
    <br>
    <%  }) %>
</ul>

<a href="/">Back home...</a>
