<h1>Hola <%= user.username %></h1>
<img src="<%= user.pic_path %>"width="200px"height="200px">
<% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
<h2>List of matches</h2>


<ul>
    <div class="others">
        <h1>LOS  MIOS OSTIA </h1>
  <% matches.forEach( match => { %>
      <% if (match.players.toString().indexOf(user._id.toString())>=0 ){%>     
        <%- include("../partials/matchData",{match}) %>
    
      <% } %>
    <%  }) %>
   <div class="others">
   <h1>LOS NO MIOS</h1>
    <% matches.forEach( match => { %>        
       <% if (match.players.toString().indexOf(user._id.toString())<0 ){ %>
          <%- include("../partials/matchData", {match}) %>
      <%}%>
    <%  }) %>
</ul>
