<h1>Hola <%= user.username %></h1>
<img src="<%= user.pic_path %>"width="200px"height="200px">
<% if (typeof message != "undefined") { %>
  <div class="error-message"><%= message %></div>
<% } %>
<h2>List of matches</h2>


<ul>
    <div class="others">
        <h1>LOS  MIOS OSTIA </h1>
  <% matches.forEach( match => { %>
      <% if (match.players.toString().indexOf(user._id.toString())>=0 ){%>     
        <%- include("../partials/matchData",{match}) %>
    
      <% } %>
    <%  }) %>
   <div class="others">
   <h1>LOS NO MIOS</h1>
    <% matches.forEach( match => { %>        
       <% if (match.players.toString().indexOf(user._id.toString())<0 ){ %>
          <%- include("../partials/matchData", {match}) %>
      <%}%>
    <%  }) %>
</ul>
<script> var myMatches = <%- JSON.stringify(matches) %> </script>
<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script></script><script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.PATH_GMaps%>&libraries=places"></script>
<script src="/javascripts/map2.js" ></script>
<script src="/javascripts/main.js"></script>