<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% if(user) { %>
    <div class="header col-md-6">
      <img class="col-sm-2" src="<%= user.pic_path %>"><br>
      <h2 class="hello">Hola, <%= user.username %></h2>
      <a href="/dashboard/new">New Match</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/edit/${user.id}">Edit profile</a>
      <form class="col-md-4" action="/logout" method="POST">
        <button class="logout">Logout</button>
      </form>
    </div>
    <h1 class="title col-md-4"><a href="/dashboard"><%= title %></a></h1>
    <div class="clear"></div>
    <br><br>
    <% }else{ %>
      <h1 class="title"><a href="/"><%= title %></a></h1>
      <% } %>
        <%- body %>
</body>

</html>
